<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440983326247-p8vhqrj1tc74qmk88cumgp5frks1gfah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440983326247-p8vhqrj1tc74qmk88cumgp5frks1gfah</string>
	<key>API_KEY</key>
	<string>AIzaSyCHnlh_zLdyDQsDJjuFBQiZkc_m0JI5HEk</string>
	<key>GCM_SENDER_ID</key>
	<string>440983326247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyupakky.halisaha</string>
	<key>PROJECT_ID</key>
	<string>macyap-6ab0f</string>
	<key>STORAGE_BUCKET</key>
	<string>macyap-6ab0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440983326247:ios:cc7f643a579642688ec802</string>
</dict>
</plist>